@import "mixins";
@import "vars";

.content-container {
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	padding: 0 10%;

	@media screen and (max-width: 1050px){
		padding: 0 5%;
	}
}

.section-pad {
	padding-top: 3em;
	padding-bottom: 4em;
}

.bg-white {
	background-color: #fff;
}

.color-blue {
	color: $blue;
}

.headliner {
	font-size: 2em;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 1em;
}

.hero {
	width: 100%;
	background-color: $grey;
	background-image: url('../../images/hero.jpg');
	background-size: cover;
}

	.hero-overlay {
		width: 100%;
		height: 100%;
		background-color: rgba($blue, .9);
		background-image: url('../../images/stripe.png');
		padding-top: 5em;
	}

		.hero-content {
			width: 66%;
			margin: 4em auto 2em auto;
			text-align: center;
			color: $white;
			@include texthaze($black);

			h1 {
				font-size: 2em;
				font-weight: bold;
			}
		}

		.hero-imagebox {
			width: 66%;
			margin-left: 17%;
			height: 15em;
			position: relative;
		}

			.hero-imagebox-overflow {
				width: 100%;
				height: 100%;
				height: calc(100% + 3em);
				position: absolute;
			}

				.hero-imagebox-overflow-inner {
					width: 100%;
					height: 100%;
					background-color: $white;
					border-radius: .25em;
					position: relative;
					box-shadow: 10px 10px 50px 0px rgba($black,0.8);
					background-image: url('../../images/hero-imagebox-overflow-inner.jpg');
					background-position: center center;
					background-size: cover;
				}

					.hero-imagebox-overlay {
						width: 100%;
						height: 100%;
						background-color: rgba($black, .25);
						border-radius: .25em;
					}

						.hero-imagebox-quote {
							position: absolute;
							bottom: 2em;
							left: 1em;
							width: 50%;
							color: $white;
							@include texthaze($black);
							opacity: .8;

							span{
								background-color: rgba($black, .5);
								border-radius: .15em;
								font-size: .75em;
								font-family: 'cursives', cursive;
							}

							em {
								font-size: 1em;
								font-family: $body-font;
								display: inline-block;
								margin-top: .5em;

							}
						}

			.landing-hero-block {
				width: 100%;
				height: 3em;
			}

.what-we-do-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

	.what-we-do-cell {
		width: 32%;
		background-color: #fff;
		border-bottom-right-radius: .25em;
		border-bottom-left-radius: .25em;
	}

	.what-we-do-image {
		width: 100%;
		height: 10em;
		background-color: $grey;
		margin-bottom: 1.5em;
		background-size: cover;
		background-position: center center;
		border-top-left-radius: .25em;
		border-top-right-radius: .25em;
		filter: grayscale(50%);
	}

		.what-we-do-image-1 {
			background-image: url('../../images/what-we-do-image-1.jpg');
		}

		.what-we-do-image-2 {
			background-image: url('../../images/what-we-do-image-2.jpg');
		}

		.what-we-do-image-3 {
			background-image: url('../../images/what-we-do-image-3.jpg');
		}

	.what-we-do-content {
		width: 100%;
		margin-bottom: 3em;
		padding: 0 1em;

		h2 {
			font-weight: bold;
			//color: $blue;
			margin-bottom: 1.25em;
			padding-bottom: 1em;
			border-bottom: 1px solid $blue;
		}
	}

	.what-we-do-last {
		margin-bottom: 0;
	}

.landing-membership {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
}

	.landing-membership-cell {
		width: 22%;
		text-align: center;
		color: $blue;
	}

		.landing-membership-icon {
			width: 3em;
			height: 3em;
			margin: 0 auto;
			background-size: auto 50%;
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: 50%;
			border: 1px solid $blue;
			margin-bottom: 1em;
		}

			.landing-membership-icon-1 {
				background-image: url('../../images/landing-membership-icon-1.png');
			}

			.landing-membership-icon-2 {
				background-image: url('../../images/landing-membership-icon-2.png');
			}

			.landing-membership-icon-3 {
				background-image: url('../../images/landing-membership-icon-3.png');
			}

			.landing-membership-icon-4 {
				background-image: url('../../images/landing-membership-icon-4.png');
			}

	.landing-membership-button {
		width: 32%;
		background-color: $red;
		margin: 0 auto;
		text-align: center;
		padding: .75em 0;
		border-radius: .25em;
		@include divshadow;
		color: $white;
		font-weight: bold;
		@include texthaze($black);
		cursor: pointer;
	}

.landing-more-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

	.landing-more-info-cell {
		width: 32%;
		height: 15em;
		background-size: cover;
		background-position: center center;
		border-radius: .25em;
	}
		.landing-more-info-cell-1 {
			background-image: url('../../images/landing-more-info-cell-1.jpg');
		}

		.landing-more-info-cell-2 {
			background-image: url('../../images/landing-more-info-cell-2.jpg');
		}

		.landing-more-info-cell-3 {
			background-image: url('../../images/landing-more-info-cell-3.jpg');
		}

		.landing-more-info-cell-overlay {
			width: 100%;
			height: 100%;
			position: relative;
			background-color: rgba($grey, .35);
			border-radius: .25em;
		}

			.landing-more-info-title {
				position: absolute;
				left: 0;
				bottom: 0;
				background-color: rgba($blue, .25);
				color: $white;
				@include texthaze($black);
				//width: 100%;
				padding: 1em;

				span {
					font-size: 1.5em;
				}
			}

footer {
	background-color: $black;
	color: $white;
}














