@import "vars";
@import "mixins";

@media screen and (max-width: 1050px){

	.hero-content {
		width: 70%;
	}

	.hero-imagebox {
		width: 70%;
		margin-left: 15%;
		height: 15em;
		position: relative;
	}

	.landing-membership {
		flex-wrap: wrap;
		margin-bottom: 1em;
	}

	.landing-membership-cell {
		width: 45%;
		margin-bottom: 2em;
	}

	.landing-partners {
		flex-wrap: wrap;

		div:nth-child(4) {
			width: 50%;
			margin-top: 2em;
		}

		div:last-of-type {
			width: 50%;
			margin-top: 2em;
		}
	}

		.landing-partners-cell {
			width: 33%;
		}

} //1050

@media screen and (max-width: 760px){

	.nav-links {
		display: none;
	}

	.nav-mobile-button {
		display: inline-block;
	}

	.hero-content {
		width: 90%;
	}

	.hero-imagebox {
		width: 90%;
		margin-left: 5%;
		height: 15em;
		position: relative;
	}

	.what-we-do-container {
		flex-direction: column;
	}

	.what-we-do-cell {
		width: 100%;
		margin-bottom: 2em;
		@include divshadow(lighten($grey, 30%));
		display: flex;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

		.what-we-do-image {
			width: 30%;
			flex: 1;
			float: left;	
			margin-bottom: 0;
			height: 12em;
			height: auto;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		.what-we-do-content {
			width: 70%;
			float: right;
			padding: 2em;
			padding-bottom: 3em;
			margin-bottom: 0;
		}

		.landing-membership-button {
			width: 80%;
		}

		.landing-more-info {
			flex-direction: column;
		}

			.landing-more-info-cell {
				width: 100%;
				margin-bottom: 2em;
			}

} //760

@media screen and (max-width: 550px){

	.hero-imagebox-quote {
		width: 90%;
	}

	.landing-membership-cell {
		width: 100%;
	}

	.what-we-do-cell {
		width: 100%;
		margin-bottom: 2em;
		@include divshadow(lighten($grey, 30%));
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: .5em;
		border-bottom-right-radius: .5em;
	}

		.what-we-do-image {
			display: none;
		}

		.what-we-do-content {
			width: 100%;
			float: right;
			padding: 2em;
			padding-bottom: 3em;
			margin-bottom: 0;
			border-bottom-right-radius: .5em;
		}

	.landing-partners-cell {
		img {
			height: 4em;
		}
	}


} // 550