@import "vars";
@import "mixins";

nav{
	width: 100%;
	height: 3em;
	background-color: rgba($black, .1);
	position: absolute;
	top: 2em;
}

	.nav-logo {
		height: 3em;
		float: left;

		img {
			height: 2em;
			margin-top: .5em;
		}
	}

	.nav-links {
		height: 3em;
		float: right;
		display: table;
	}

		.nav-links-align {
			height: 100%;
			display: table-cell;
			vertical-align: middle;
			color: $white;
			@include texthaze($black);

			a {
				text-decoration: none;
				margin-right: 1.25em;
				padding-top: .5em;
				padding-bottom: .5em;
			}

			a:nth-child(3),
			a:last-of-type {
				border-radius: .25em;
				padding-left: .5em;
				padding-right: .5em;
			}

			a:last-of-type {
				margin-right: 0;
				background-color: $red;
			}
		}


// OVERLAY

.overlay-logo {
	position: absolute;
	left: 5%;
	top: 2.5em;
	height: 2em;
	z-index: 9999;
}

.nav-mobile-button{
	float: right;
	height: 2.5em;
	width: 2.5em;
	margin-top: .25em;
	background-color: $white;
	display: none;
	border-radius: .25em;
	@include divshadow($black);
	background-image: url('../../images/nav-mobile-button.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 60%;
}

$nav-top-gap: 1em;
$nav-height: 3em;

.nav-screen{
	display: none;
}

.overlay {  
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: $blue;
    background-color: rgba($black, 0.95);
    overflow-x: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s; 
    background-image: url('assets/images/stripe.png');
}

.overlay .closebtn {
    position: absolute;
    top: 2.25em;
    right: 5%;
    color: $orange;
    width: 2.5em;
    height: 2.5em;
    background-color: $white;
		border-radius: .25em;
		@include divshadow($black);
		background-image: url('../../images/nav-mobile-close.png');
		background-size: 50% auto;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 9999;

		&:before {
			content: "close";
			position: absolute;
			color: $white;
			left: 0;
			right: 0;
			top: 100%;
			padding-top: .25em;
			text-align: center;
			font-variant: small-caps;
			@include texthaze(black);
		}
}

.overlay-content {
	width: 100%;
	margin-top: 7.5em;
	padding: 3em 5% 0 5%;
	border-top: 1px solid $white;
	text-align: center;
	color: $white;
	@include texthaze($black);

	a {
		font-size: 2em;
		display: block;
		margin-bottom: 1em;
		text-decoration: none;
	}

	a:nth-child(3) {
		padding: .25em;
		border: 1px solid $white;
		border-radius: .25em;
		margin-bottom: .25em;
		width: 70%;
		margin-left: 15%;
	}

	a:last-of-type {
		padding: .25em;
		border: 1px solid $red;
		background-color: $red;
		border-radius: .25em;
		width: 70%;
		margin-left: 15%;
	}
}
